* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Lato', sans-serif;
}

a {
    font-size: 1em;
}

a:visited {
    color: #447587;
}

.hidden {
    visibility: hidden;
}
.show {
    visibility: visible;
}

/* DEBUG */

/* .chats-container img {
    max-width: 50px;
    border-radius: 50px;
} */

/* Sfondo */

.header-bg {
    height: 100px;
    background-color: #229A88;
}
  
.body-bg {
    height: calc(100vh - 100px);
    background-color: #D5DBD6;
}

/* Container di tutta l' App */

.app-container {
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    display: flex;
}

    /* Barra laterale con chat */

    .side-container {
        min-width: 370px;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100vh - 80px);
        background-color: white;
      
    }

        /* Header account laterale */

        .side-header {
            min-height: 60px;
            min-width: 330px;
            background-color: rgb(240,242,245);
            display: flex;
            font-weight: bold;
            align-items: center;
        }
          
        .side-header .profile-picture img {
            width: 60px;
            border-radius: 50px;
            padding: 5px;
        }
          
        .side-header .user-name {
            width: calc(100% - 155px);
        }
          
        .side-header .features-icons {
            color: #B1B1B1;
            font-size: .9em;
        }
          
        .side-header .features-icons i {
            margin-left: 10px;
            font-size: 1.3em;
        }

        /* Blocco notifiche azzurro */

        .notifications {
            min-height: 70px;
            background-color: #76DCFF;
            display: flex;
            padding: 10px;
        }
          
        .bell {
            height: 41px;
            width: 41px;
            border-radius: 50px;
            background-color: #F0FCFF;
            position: relative;
            align-self: center;
        }
          
        .bell > i {
            border-radius: 50px;
            color: #76DCFF;
            font-size: 1.1em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
          
        .bell-message span {
            display: block;
            font-size: .9em;
        }
          
        .bell-message {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
          
        }
          
        .bell-message span:last-child {
            color: #447587;
            font-size: .8em;
            text-decoration: underline;
        }
          
          

        /* Ricerca contatti */

        .search {
            min-height: 50px;
            background-color: #FAFAFA;
            display: flex;
            align-items: center;
          
        }
          
        .search-bothcontainer {
            background-color: white;
            display: flex;
            align-items: center;
            border: solid 1px lightgrey;
            border-radius: 4px;
            padding: 8px;
            width: 90%;
            margin: auto;
        }
          
        .search-icon  {
            color: #B5B9BB;
        }
          
        .search-input input {
            border: none;
            width: 260px;
            overflow: hidden;
            margin: 0 5px;
        }
          
        .search-input ::placeholder {
            color: lightgrey;
            font-size: .9em;
        }


        /* Chats container */

        .chats-container {
            overflow: scroll;
            min-height: 650px;
        }

            /* Tutte le chats */
            .single-chat {
                height: 70px;
                display: flex;
                padding: 4px;
            }
              
            .single-chat:hover {
                background-color: #E9EBEB;
            }
            
            .opened {
                background-color: #E9EBEB;
            }


            .single-chat .contact-chat span:last-child {
                color: grey;
                font-size: .8em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                height: 50px;
                width: 180px;
                display: block;
                margin-top: 6px;
            }
              
            .single-chat .contact-hour{
                width: 90px;
              
            }
              
            .single-chat .contact-hour span {
                color: grey;
                font-size: .6em;
                text-align: right;
                font-weight: lighter;
            }

            .single-chat img {
                max-width: 55px;
                border-radius: 50px;
                margin: 0 10px 0 10px; ;
            }
    

    
    /* Chat aperta/selezionata */

    .openchat-container {
        min-width: 650px;
        display: flex;
        flex-direction: column;
    }

        /* Chat header selezionata */
        .chat-header
        ,.chat-footer {
          min-height: 60px;
          background-color: rgb(240,242,245);
          display: flex;
          padding: 5px;
          align-items: center;
        }
        
        .chat-header i {
          color: #BCBCBC;
          font-size: 1.3em;
          margin: 5px;
        
        }

        .chat-header .features-icons {
            min-width: 100px;
        }

        .chat-header .profile-picture > img {
          width: 50px;
          border-radius: 50px;
        }
        
        .chat-header .person-name {
          color: grey;
          width: 75%;
        }
        
        .chat-header .person-name span:first-child {
          display: block;
          color: black;
        
        }
        
        .chat-header .person-name span:nth-child(2) {
          font-size: .8em;
        }
        
        .chat-header .person-name span:nth-child(3) {
          font-size: .8em;
        }


        /* Chat Body selezionata */

        .openchat-container {
            background-color: whitesmoke;
        }
          
        .chat-body {
            min-height: calc(100% - 120px);
            background-image: url("../img/sfondo_wa.JPG");
            display: flex;
            flex-direction: column;
            overflow: scroll;
        }
          
        .sent {
            background-color: #CBFBB3;
            align-self: flex-end;
        }
          
        .received {
            background-color: white;
            align-self: flex-start;
        }
          
        .received, .sent {
            padding: 10px;
            border-radius: 10px;
            min-width: 30%;
            max-width: 40%;
            margin: 30px;
          
        }
          
        .sent span:last-child, .received span:last-child {
            display: block;
            font-size: .7em;
            color: #B5B9BB;
            text-align: right;
        }

        /* Footer Chat selezionata */

        .chat-footer {
            height: 50px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
          
        .chat-footer  input {
            width: 80%;
            height: 80%;
            border: none;
            border-radius: 5px;
            padding: 5px;
        }
          
        .chat-footer ::placeholder {
            color: grey;
            font-weight: lighter;
            padding: 5px;
            font-size: .8em;
        }
          
        .chat-footer i {
            color: #6C7678;
            font-size: 1.4em;
        } 



/* Fine */  