<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"/>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- FontAwesom -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>

    <link rel="stylesheet" href="css/style.css" />
    <title>BoolzApp</title>
  </head>
  <body>
    
    <!-- Sfondo -->

    <div class="main-bg">
      <div class="header-bg"></div>
      <div class="body-bg"></div>
    </div>

    <!-- Container di tutta l' App -->

    <div class="app-container" id="app" >
      <!-- Barra laterale con chat -->

      <div class="side-container">
        <!-- Header account laterale -->

        <div class="side-header">

          <div class="profile-picture">
            <img src="img/avatar1.png" alt="User profile picture">
          </div>

          <div class="user-name">
            <span>{{userName}}</span>
          </div>

          <div class="features-icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- Blocco notifiche azzurro -->

        <div class="notifications">
          <div class="bell">
            <i class="fas fa-bell-slash"></i>
          </div>

          <div class="bell-message">
            <span>Ricevi notifiche di nuovi messaggi</span>
            <span>Attiva notifiche desktop</span>
          </div>
        </div>

        <!-- Ricerca contatti -->

        <div class="search">

          <div class="search-bothcontainer">

            <div class="search-icon">
              <i class="fas fa-search"></i>
            </div>
            
            <div class="search-input">
              <input type="text" v-model="searchInput" @keyup="searchBar()" placeholder="Cerca o inizia una nuova chat">
            </div>

          </div>

        </div>
        <!-- Chats container-->

        <div class="chats-container">

          <!-- Tutte le chats -->

            <div class="single-chat" v-for="(item, index) in contactsList" v-if="item.status"  :class="(index === indexChat ? 'opened' : '')" @click="openChat(index)">
  
              <div class="contact-picture">
                <img v-bind:src="item.contactPicture">
              </div>
  
              <div class="contact-chat">
                <span>{{item.name}}</span>
                <span>{{item.allMessages[item.allMessages.length - 1].message}}</span>
              </div>

              <div class="contact-hour">
                <span>{{item.allMessages[item.allMessages.length - 1].hour}} </span>
              </div>
  

  
            </div>
  
          </div>
  
        </div>
  

      <!-- Chat aperta/selezionata -->

      <div class="openchat-container">

        <!-- Chat header selezionata -->

        <div class="chat-header">

          <div class="profile-picture">
            <img v-bind:src="contactsList[indexChat].contactPicture" alt="Contact profile picture">
          </div>

          <div class="person-name">
            <span>{{contactsList[indexChat].name}}</span>
            <span>Ultimo accesso oggi</span>
            <!-- <span>{{currentDay()}} alle {{item.allMessages[item.allMessages.length - 1].hour}}</span> -->
          </div>

          <div class="features-icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- Chat Body selezionata -->

        <div class="chat-body">

          <span v-for="(messages, index) in contactsList[indexChat].allMessages"
          v-bind:class="(messages.origin)">

            <span>{{messages.message}}</span>
            <span class="message-hour">{{messages.hour}}
              <i @click="dropDown(index)" class="fas fa-chevron-down arrow"></i>
            </span>


            <!-- Menu dropdown -->
            <div
              class="drop-down"
              v-bind:class="messages.dropdown ? 'drop-downopen' : '' ">


              <span>Info messaggio</span>
              <span @click="deleteMessage(index)">Cancella messaggio</span>
            </div>

          </span>

        </div>

        <!-- Footer Chat selezionata -->

        <div class="chat-footer">

          <div class="emoji">
            <i class="far fa-smile"></i>
          </div>

          <input v-model="inputMessage" type="text" placeholder="Scrivi un messaggio" v-on:keyup.enter="sendMessage()">

          <div class="audio">
            <i class="fas fa-microphone"></i>
          </div>


        </div>

      </div>

    </div>


    <!-- Fine -->

    <script src="javascript/script.js"></script>
  </body>
</html>
